*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#app{
    width: 400px;
    height: 200px;
    background: rgb(52, 128, 2);
    color: white;
    font-size: 1.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
button{
    width: 10vw;
    height: 6vh;
    border: 2px solid rgb(255, 255, 255);
    background: transparent;
    border-radius: 5px;
    color: white;
    font-size: 0.8rem;
}
input{
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
}