*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#app{
    width: 400px;
    height: 200px;
    background: rgb(35, 121, 136);
    color: white;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}